PONDER_RPC_URL_1=https://rpc.ankr.com/core_testnet
PONDER_RPC_URL_2=https://node.ghostnet.core.com

# Configure smaller block ranges for Core testnet
PONDER_LOG_LEVEL=info

# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=
DATABASE_SCHEMA=